@import url("font.css");

/* main style */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

#container {
  /* thing that make the page big */
  position: relative;
  padding: 10px;
  width: 36in;
  height: 36in;
  background-color: darkslategray;
}
#header {
  width: 98%;
  height: 50px;
  padding: 5px;
  position: relative;
  margin-bottom: 10px;
  top: 10px;
  border: solid 3px black;
  background-color: lightslategray;
}
.small-text {
  font-family: "aileron-light";
  font-size: small;
}
#title {
  font-family: "aileron-black";
  font-size: small;
}
#head1 {
  float: left;
  margin-right: 20px;
}
.main-link {
  position: relative;
  top: 5px;
  float: left;
  padding: 10px;
  background-color: royalblue;
  border-radius: 5px;
  border: solid 2px black;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "aileron-black";
}
.main-link a {
  text-decoration: none;
  color: goldenrod;
}

#main {
  width: 98%;
  height: 35in;
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: baseline;
}

#main .sub {
  position: relative;
  top: -30px;
  text-align: left;
  padding: 20px;
  border: solid 1px black;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 10px;
  border-radius: 5px;
}

#main .sub p {
  font-family: "aileron-light";
}

#main > div {
  /* format first level divs only */
  width: 470px;
  height: 35in;
  border-radius: 1em;
  margin: 5px;
  border: 2px solid black;
  text-align: center;
  background-color: white;
}

#main div h1 {
  font-family: "milkshakeregular";
  color: black;
  font-size: 25px;
}
#main .section-1 {
  /* second level div */
  background-color: deepskyblue;
}

#main .section-2 {
  background-color: goldenrod;
}

.line-1 {
  border-bottom: 2px solid black;
  margin: 1em;
  position: relative;
  top: -25px;
}

.line-2 {
  position: relative;
  height: 40px;
  float: left;
  border-left: 2px solid black;
  margin: 5px;
}

#main .section-3 {
  background-color: lightseagreen;
}

#main .section-4 {
  background-color: indianred;
}

#main .section-5 {
  background-color: lavender;
}

#main .section-6 {
  background-color: palegreen;
}

#main .section-7 {
  background-color: mediumturquoise;
}

.text {
  /* common text div */
  position: relative;
  top: -40px;
  font-family: "aileron-light";
  padding: 15px;
  color: black;
  text-align: left;
  text-indent: 10%;
}
table {
	width:100%;
}

table td {
	padding: 5px;
	width: 50%;
	text-align:center;
}
.first {
	text-align: center;
	font-weight: bold;
}
.second {
	text-align: center;
}

h2 {
  font-family: "bebas-reg";
}
